{% block footer %}
    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; {{ "now"|date("Y") }} Mon Site E-commerce. Tous droits réservés.</p>
            <p>Contactez-nous : contact@monsiteecommerce.com</p>
        </div>
    </footer>
{% endblock %}
