{% block title %}
    Paiement réussi
{% endblock %}

{% block body %}
        <div class="container mt-5">
        <div class="text-center">
            <h1 class="display-4">Paiement réussi !</h1>
            <p class="lead">Merci pour votre achat.</p>
            <p class="lead">Votre commande a été traitée avec succès.</p>
            <p class="lead">Vous recevrez un e-mail de confirmation avec les détails de votre commande.</p>
            <a href="{{path('app_accueil')}}">Vous recevrez un e-mail de confirmation avec les détails de votre commande.</p>
        </div>
    </div>
{% endblock %}